.country-info {
    display: flex;
}

.countryCardFlag {
    width: 200px;
}

.countryName {
    margin-top: 20px;
    margin-bottom: 0;
}

.countryCardList {
    list-style: none;
}

.countryLanguages {
    list-style: none;
    display: flex;
    
}